// Overrides the default Klaro style for consent modal.

.klaro {
  $color-primary: #004791;

  // Consent overlay on media
  .context-notice {
    background: rgba($white, 0.9);
    flex-wrap: nowrap;
    border-radius: 0;

    .cm-btn {
      padding: 0.5rem 1.5rem;
      line-height: 1.5;
      border-radius: 0.25rem;
      min-height: 2.75rem;
      font-weight: bold;
      font-size: 1rem;

      &.cm-btn-success-var {
        color: $white;
        background-color: $color-primary;
        border: 1px solid transparent;
      }

      &.cm-btn-success {
        color: $black;
        background-color: $white;
        border: 1px solid $black;
      }
    }
  }

  //Consent dialog, with information and three buttons that lets you choose actions
  .cookie-notice {
    &:not(.cookie-modal-notice) {
      position: fixed;
      padding: 0.5rem 1.5rem 1.5rem;
      margin: 0.625rem;
      max-width: 760px;
      background-color: $white;
      border-radius: 0.25rem;
      box-shadow: 0 2px 10px 2px rgba($black, 0.2), 5px 5px 10px 0 rgba($black, 0.19);
      border: none;
      bottom: 0;
      right: 0;
      left: 0;
      #id-cookie-notice {
        color: $black;
      }

      .cn-buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        margin-top: 1rem;

        @media (max-width: 575px) {
          margin-top: 0.5rem;
        }

        .cm-btn {
          @media (max-width: 384px) {
            width: auto;
          }

          &.cm-btn-success,
          &.cm-btn-danger.cn-decline,
          &.cm-btn-learn-more.cm-btn-info {
            padding: 0.5rem 1.5rem;
            min-height: 2.75rem;
            font-weight: bold;
            font-size: 1rem;
            border-radius: 0.25rem;
          }

          &.cm-btn-success {
            color: $white;
            background-color: $color-primary;
            border: 1px solid transparent;
          }

          &.cm-btn-danger.cn-decline,
          &.cm-btn-learn-more.cm-btn-info {
            color: $black;
            background-color: $white;
            border: 1px solid $black;
          }
        }
      }

      @media (max-width: 768px) {
        margin: 0.625rem;
        position: fixed;
        max-width: fit-content;
        width: 100%;
        height: auto;
        bottom: 0;
        right: 0;
      }
    }
  }

  //Modal that appears when "Manage services/Hantera valbara tjänster" is clicked
  .cookie-modal {
    z-index: 99999;

    .cm-modal.cm-klaro {
      background-color: $white;
      max-width: 794px;

      p {
        color: $black;
        font-size: 1rem;
      }

      li {
        color: $black;
        &.active {
          border: 3px solid $color-primary;
        }
      }

      a {
        color: #036eb8;
        text-decoration: underline;
        text-underline-offset: 0.25rem;
      }

      //Header section
      .cm-header {
        padding: 1.5rem;

        .hide {
          svg {
            stroke: $black;
          }
        }

        .title {
          font-size: 1.875rem;
          font-weight: 400;
          color: $black;
          line-height: 2.5rem;
          margin-top: 0;
          margin-bottom: 0.875rem;
        }
      }

      //Body section
      .cm-body {
        padding: 1.5rem;

        .cm-service {
          span {
            &.cm-list-title,
            &.cm-required {
              color: $black;
              font-size: 1rem;
            }
          }

          .cm-list-label {
            .slider {
              background-color: $grey;
              &:before {
                background-color: $white;
              }
            }
          }

          .cm-list-input {
            &.required:checked + .cm-list-label .slider {
              background-color: #3d784a;
            }

            &.only-required + .cm-list-label .slider {
              background-color: $grey;
              opacity: 0.5;
            }

            &:checked + .cm-list-label .slider {
              background-color: #3d784a;
            }
          }
        }
      }

      //Footer section
      .cm-footer {
        .cm-powered-by a {
          display: none;
        }

        @media (max-width: 768px) {
          padding: 0 1rem;

          .cm-footer-buttons {
            display: block;
            width: 100%;

            .cm-btn {
              width: 100%;
              margin-top: 1.4rem;
            }
          }
        }

        .cm-btn {
          padding: 0.5rem 1.5rem;
          border-radius: 0.25rem;
          min-height: 2.75rem;
          font-weight: bold;
          font-size: 1rem;

          &.cm-btn-success {
            color: $white;
            background-color: $color-primary;
            border: 1px solid transparent;

            &.cm-btn-accept {
              background-color: #3d784a;
            }
          }

          &.cm-btn-decline {
            color: $black;
            background-color: $white;
            border: 1px solid $black;
          }
        }
      }
    }
  }
}

/*
   * Handle videos in columnsplitters agrid lists with 4 columns.
   */
.block {
  &.columnSplitter {
    &.row {
      &.using4Columns {
        .klaro {
          .context-notice {
            p {
              font-size: 0.9rem;
              margin-bottom: 0;
            }

            .cm-btn {
              margin-bottom: 0.25rem;
              min-height: 1.75rem;
              padding: 0.3rem 0.6rem;
            }
          }
        }
      }
    }
  }

  &.list {
    &.grid {
      .gridRowItem {
        &.gridRowItem_4 {
          .context-notice {
            p {
              font-size: 0.9rem;
              margin-bottom: 0;
            }

            .cm-btn {
              margin-bottom: 0.25rem;
              min-height: 1.75rem;
              padding: 0.3rem 0.6rem;
            }
          }
        }
      }
    }
  }
}
