// Boostrap Collapse / Panel headings / Rubriklister

@import '../common/icons';
@import '../../variables/colors';
@import '../../variables/_svg_data';
@mixin iconCommon {
  font-size: 1.5rem;
  line-height: 1.2rem;
  margin-right: 0.5rem;
  text-decoration: none;
  vertical-align: middle;
}

.card {
  &.collapsible {
    border: 0;
    cursor: pointer;

    button.card-header {
      border-radius: 0.25rem;
      border-bottom: 0;
      padding-top: 7px;
      padding-bottom: 7px;
      font-size: 16px;
      font-weight: 600;
      text-overflow: ellipsis;
      text-align: left;
      text-decoration: none;
      overflow: hidden;
      background-color: transparent;
      color: white;
      border: none;
      width: 100%;

      &:before {
        content: '';
        height: 14px;
        width: 14px;
        display: inline-block;
        margin: auto;
        margin-bottom: -1px;
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 0.6rem;

        &:hover {
          text-decoration: none;
        }
      }

      &[aria-expanded~='false'] {
        &:before {
          animation: rotateUp 0.3s ease-in-out forwards;
        }
      }

      &[aria-expanded~='true'] {
        &:before {
          animation: rotateDown 0.3s ease-in-out forwards;
        }
      }
    }

    .card-header {
      border-radius: 0.25rem;
      border-bottom: 0;

      padding-top: 7px;
      padding-bottom: 7px;

      a,
      button {
        font-size: 16px;
        font-weight: 600;
        text-overflow: ellipsis;
        text-align: left;
        text-decoration: none;
        overflow: hidden;
        background-color: transparent;
        color: white;
        border: none;

        &:before {
          content: '';
          height: 14px;
          width: 14px;
          display: inline-block;
          margin: auto;
          margin-bottom: -1px;
          background-size: contain;
          background-repeat: no-repeat;
          margin-right: 0.6rem;

          &:hover {
            text-decoration: none;
          }
        }

        &[aria-expanded~='false'] {
          &:before {
            animation: rotateUp 0.3s ease-in-out forwards;
          }
        }

        &[aria-expanded~='true'] {
          &:before {
            animation: rotateDown 0.3s ease-in-out forwards;
          }
        }
      }
    }

    &.white,
    &.collapse > &.white {
      button.card-header {
        background-color: $white;
        color: $black;

        &:before {
          background-image: $data-arrow-black-right-svg;
        }
      }

      .card-header {
        background-color: $white;

        a,
        button {
          color: $black;

          &:before {
            background-image: $data-arrow-black-right-svg;
          }
        }
      }
    }

    &.blue {
      button.card-header {
        background-color: $blue;
        color: $white;

        &:before {
          background-image: $data-arrow-white-right-svg;
        }
      }

      .card-header {
        background-color: $blue;

        a,
        button {
          color: $white;

          &:before {
            background-image: $data-arrow-white-right-svg;
          }
        }
      }
    }

    @keyframes rotateDown {
      100% {
        transform: rotate(90deg);
        transform-origin: 22% 40%;
      }
    }

    @keyframes rotateUp {
      0% {
        transform: rotate(90deg);
        transform-origin: 22% 40%;
      }
    }
  }
}
