.header .secondaryHeader .block.link a.localeLink.en-UK {
  background-image: url('../img/kth-style/icons/en_UK.svg');
  background-position: top right;
}

.header .secondaryHeader .block.link a.localeLink {
  background: url('../img/kth-style/icons/sv_SE.svg') no-repeat scroll 100% 0 transparent;
  padding-right: 24px;
}

@media only screen and (max-width: 480px) {
  .header .secondaryHeader .block.link.localeLink a {
    background-position: 0 50%;
    padding-left: 999px;
    white-space: nowrap;
  }
}
