@import '../variables/fonts';
@import '../variables/colors';
@import '../common/icons';

//Course filter
.nav-filter .nav-item {
  a {
    font-size: 1.07em;

    &.nav-link.active {
      font-weight: bold;
      color: #333;
      background-color: white;
    }

    &:first-child {
      padding-left: 0;
    }
  }

  &:not(:first-child) {
    a::before {
      color: #5e5e5e;
      margin-right: 1.5em;
      content: '|';
      font-weight: bold;
    }
  }
}

//Cards
.course-card,
.program-card {
  padding: 0.6em 0;
  max-width: 35em;

  h4 {
    font-size: 1.07em;
    font-weight: normal;
    margin: 0.5em 0 0.6em;
  }

  & > ul {
    margin-left: 1em;
  }

  & > span,
  & > div {
    margin-left: 1em;
  }

  &.big-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & > i {
      width: 4em;
    }
  }

  //next can be changed for programs if favorit icon added
  &.big-icon .nav-link,
  &.program-card .nav-link {
    padding: 0.5em 0;
  }
}

.program-card {
  padding-left: 1em;
}

.courses h3,
.programs h3 {
  padding-left: 0.7rem;
  border-left: 5px solid #aaa;
}

.courses .card,
.programs .card {
  border-left: 0;
  border-right: 0;

  &:first-child {
    margin-top: 1em;
  }
}

.courses .card {
  border-bottom: 0;
}

.notices {
  &:first-child {
    margin-top: 1em;
  }
}

//Schedule lists

.event-card {
  margin: 1em 0;
  border-radius: 0.25em;
  max-width: 20em;

  .list-group-item {
    padding-top: 0.4em;
    padding-bottom: 0.4em;

    &:first-child {
      font-weight: 600;
    }

    &:last-child > a {
      color: #5e5e5e;
    }
  }
}

@mixin course-pie-base {
  width: 1em;
  margin-right: 0.5em;
  margin-left: 0.2em;
  vertical-align: middle;
}

.course-pie-grey-25::before {
  @include course-pie-base;
  margin-left: 1.5em;
  content: url('../img/kth-style/icons/clock_grey_25.svg');
}

.course-pie-grey-50::before {
  @include course-pie-base;
  margin-left: 1.5em;
  content: url('../img/kth-style/icons/clock_grey_50.svg');
}

.course-pie-grey-75::before {
  @include course-pie-base;
  content: url('../img/kth-style/icons/clock_three_quarter.svg');
}

.course-pie-grey-100::before {
  @include course-pie-base;
  content: url('../img/kth-style/icons/clock_grey_100.svg');
}

#kth-menu {
  background-color: $grey;

  #kth-menu-container {
    position: relative;
    width: 100%;
    margin: 0 auto;

    .main-m {
      max-width: 900px;
      width: 100%;
      margin: 0 auto;
    }

    .main-m a {
      color: #fff;

      &:focus {
        background: $lightBlue;
      }

      &:hover {
        background: #505056;
      }
    }

    #study-admin .nav-item {
      border-bottom: solid 1px #bdbcbc;
      font-weight: 700;

      .sub-nav {
        font-weight: normal;
      }
    }

    .white-m {
      //copy in custom.scss verticalNavCard
      .header3 {
        border-bottom: solid 1px #bdbcbc;
      }

      h3,
      h4 {
        color: $black;
      }

      .nav-item a {
        &:focus {
          background: #e6e6e6;
        }

        &:hover {
          background: #e6e6e6;
        }
      }
    }

    #courses-program {
      border-bottom: solid 1px #bdbcbc;
    }

    .progress-section {
      margin-top: 0.5em;
    }
  }

  #kth-menu-page-container {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    z-index: 99999;
    background-color: white;
    border-bottom: 2px solid #bdbcbc;
  }

  .kth-menu-page {
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
    max-width: 1224px;
    background-color: white;
    color: #5e5e5e;
  }
}
