// * * * * KTH Color Palette * * * *

// Grey
$grey: #65656c;
$lightGrey: #f6f6f6;
$borderGrey: #d4d4d4;

// Blue
$blue: #007fae;
$linkBlue: #006cb7;
$blueHover: #005e80;

// Pink
$pink: #d02f80;

// Green
$green: #528400;
$greenHover: #3f6600;
$infoGreen: #dff0d8;

// Red
$red: #b10e1e;
$lightRedHover: #8e0b18;
$infoRed: #f2dede;

// Yellow
$infoYellow: #fcf8e3;
$infoYellowIcon: #fab919;

// Black
$black: #000;

// White
$white: #fff;

// Deprecated  - should no longer be used (20200114)
$darkBorderGrey: #515151;
$darkGrey: #848489;
$calendarGrey: #ededed;
$inputBorderGrey: #e6e6e6;
$darkBlue: #1954a6;
$matteBlue: #5e87c0;
$lightPink: #d95999;
$mediumPink: #d95999;
$infoRedIcon: #e01f28;
$infoGreenIcon: #62922e;
$infoYellowBorder: #fcf8e3;
$infoRedBorder: #f2dede;
$infoGreenBorder: #dff0d8;
