// * * * * KTH Color Palette * * * *

// Grey
$grey: #65656c;
$lightGrey: #f6f6f6;
$borderGrey: #d4d4d4;

// Blue
$blue: #007fae;
$linkBlue: #006cb7;
$blueHover: #005e80;

// Pink
$pink: #d02f80;

// Green
$green: #528400;
$greenHover: #3f6600;
$infoGreen: #dff0d8;

// Red
$red: #d4351c; // #b10e1e;
$redHover: #b52c17; // #8e0b18;
$infoRed: #f5e6e6;

// Yellow
$infoYellow: #fcf8e3;
$infoYellowIcon: #fab919;

// Black
$black: #000;

// White
$white: #fff;
