// * * * * KTH Color Palette * * * *

// Grey
$grey: #65656c;
$lightGrey: #f6f6f6;
$borderGrey: #d4d4d4;

// Blue
$blue: #007fae;
$linkBlue: #006cb7;
$blueHover: #006388;

// Pink
$pink: #d02f80;

// Green
$green: #62922e;
$greenHover: #4e7425;
$infoGreen: #dff0d8;
$infoGreenIcon: #62922e;
$infoGreenBorder: #d6e9c6;

// Red
$red: #e01f28;
$infoRed: #f2dede;
$infoRedIcon: #e01f28;
$infoRedBorder: #ebccd1;
$lightRedHover: #ca1c24;

// Yellow
$infoYellow: #fcf8e3;
$infoYellowIcon: #fab919;
$infoYellowBorder: #faebcc;

// Black
$black: #000;

// White
$white: #fff;

// Deprecated  - should no longer be used (20200114)
$darkBorderGrey: #515151;
$darkGrey: #848489;
$calendarGrey: #ededed;
$inputBorderGrey: #e6e6e6;
$darkBlue: #1954a6;
$matteBlue: #5e87c0;
$lightPink: #d95999;
$mediumPink: #d95999;
