@use 'sass:math';

$spacing: 10px;
$doubleSpacing: ($spacing * 2);
$halfSpacing: math.div($spacing, 2);
$quarterSpacing: math.div($spacing, 2);
$pageInset: 38px;
$bodyLineHeight: 1.3;
$widePageWidth: 1228px;
$gutter: 15px;
