// prettier-ignore
$data-KTH_Logotyp_RGB_2013-2-svg: url(data:image/svg+xml;base64,);

$data-arrow-back-black-svg: url(data:image/svg+xml;base64);

$data-arrow-back-blue-svg: url(data:image/svg+xml;base64);

$data-arrow-back-white-svg: url(data:image/svg+xml;base64);

$data-arrow-collapse-black-svg: url(data:image/svg+xml;base64);

$data-arrow-collapse-blue-svg: url(data:image/svg+xml;base64);

$data-arrow-collapse-white-svg: url(data:image/svg+xml;base64);

$data-arrow-expand-black-svg: url(data:image/svg+xml;base64);

$data-arrow-expand-blue-svg: url(data:image/svg+xml;base64);

$data-arrow-expand-white-svg: url(data:image/svg+xml;base64);

$data-arrow-maximize-blue-svg: url(data:image/svg+xml;base64);

$data-arrow-minimize-blue-svg: url(data:image/svg+xml;base64);

$data-arrow-next-black-svg: url(data:image/svg+xml;base64);

$data-arrow-next-white-svg: url(data:image/svg+xml;base64);

$data-arrow-up-down-black-svg: url(data:image/svg+xml;base64);

$data-arrow-up-down-white-svg: url(data:image/svg+xml;base64);

$data-asterisk-black-svg: url(data:image/svg+xml;base64);

$data-audio-blue-svg: url(data:image/svg+xml;base64);

$data-audio-white-svg: url(data:image/svg+xml;base64);

$data-back-to-top-blue-svg: url(data:image/svg+xml;base64);

$data-calculate-blue-svg: url(data:image/svg+xml;base64);

$data-check-black-svg: url(data:image/svg+xml;base64);

$data-close-black-svg: url(data:image/svg+xml;base64);

$data-close-white-svg: url(data:image/svg+xml;base64);

$data-code-blue-svg: url(data:image/svg+xml;base64);

$data-code-white-svg: url(data:image/svg+xml;base64);

$data-compressed-blue-svg: url(data:image/svg+xml;base64);

$data-compressed-white-svg: url(data:image/svg+xml;base64);

$data-copy-blue-svg: url(data:image/svg+xml;base64);

$data-date-black-svg: url(data:image/svg+xml;base64);

$data-date-blue-svg: url(data:image/svg+xml;base64);

$data-date-white-svg: url(data:image/svg+xml;base64);

$data-delete-blue-svg: url(data:image/svg+xml;base64);

$data-doc-blue-svg: url(data:image/svg+xml;base64);

$data-doc-white-svg: url(data:image/svg+xml;base64);

$data-download-blue-svg: url(data:image/svg+xml;base64);

$data-download-white-svg: url(data:image/svg+xml;base64);

$data-edit-blue-svg: url(data:image/svg+xml;base64);

$data-email-white-svg: url(data:image/svg+xml;base64);

$data-error-black-svg: url(data:image/svg+xml;base64);

$data-eye-black-svg: url(data:image/svg+xml;base64);

$data-eye-blue-svg: url(data:image/svg+xml;base64);

$data-eye-off-black-svg: url(data:image/svg+xml;base64);

$data-eye-off-blue-svg: url(data:image/svg+xml;base64);

$data-favorite-active-blue-svg: url(data:image/svg+xml;base64);

$data-favorite-blue-svg: url(data:image/svg+xml;base64);

$data-file-blue-svg: url(data:image/svg+xml;base64);

$data-file-white-svg: url(data:image/svg+xml;base64);

$data-filter-blue-svg: url(data:image/svg+xml;base64);

$data-folder-blue-svg: url(data:image/svg+xml;base64);

$data-folder-white-svg: url(data:image/svg+xml;base64);

$data-gallery-active-black-svg: url(data:image/svg+xml;base64);

$data-gallery-back-black-svg: url(data:image/svg+xml;base64);

$data-gallery-next-black-svg: url(data:image/svg+xml;base64);

$data-gallery-passive-black-svg: url(data:image/svg+xml;base64);

$data-gallery-pause-black-svg: url(data:image/svg+xml;base64);

$data-gallery-play-black-svg: url(data:image/svg+xml;base64);

$data-image-blue-svg: url(data:image/svg+xml;base64);

$data-image-white-svg: url(data:image/svg+xml;base64);

$data-information-black-svg: url(data:image/svg+xml;base64);

$data-language-black-svg: url(data:image/svg+xml;base64);

$data-language-white-svg: url(data:image/svg+xml;base64);

$data-link-black-svg: url(data:image/svg+xml;base64);

$data-link-blue-svg: url(data:image/svg+xml;base64);

$data-menu-black-svg: url(data:image/svg+xml;base64);

$data-message-white-svg: url(data:image/svg+xml;base64);

$data-notification-white-svg: url(data:image/svg+xml;base64);

$data-open-modal-blue-svg: url(data:image/svg+xml;base64);

$data-open-window-black-svg: url(data:image/svg+xml;base64);

$data-open-window-blue-svg: url(data:image/svg+xml;base64);

$data-open-window-white-svg: url(data:image/svg+xml;base64);

$data-page-first-black-svg: url(data:image/svg+xml;base64);

$data-page-last-black-svg: url(data:image/svg+xml;base64);

$data-pdf-blue-svg: url(data:image/svg+xml;base64);

$data-pdf-white-svg: url(data:image/svg+xml;base64);

$data-ppt-blue-svg: url(data:image/svg+xml;base64);

$data-ppt-white-svg: url(data:image/svg+xml;base64);

$data-print-blue-svg: url(data:image/svg+xml;base64);

$data-quote-black-svg: url(data:image/svg+xml;base64);

$data-quote-white-svg: url(data:image/svg+xml;base64);

$data-scale-blue-svg: url(data:image/svg+xml;base64);

$data-search-blue-svg: url(data:image/svg+xml;base64);

$data-settings-blue-svg: url(data:image/svg+xml;base64);

$data-sort-ascending-white-svg: url(data:image/svg+xml;base64);

$data-sort-descending-white-svg: url(data:image/svg+xml;base64);

$data-success-black-svg: url(data:image/svg+xml;base64);

$data-text-blue-svg: url(data:image/svg+xml;base64);

$data-text-white-svg: url(data:image/svg+xml;base64);

$data-thumb-down-blue-svg: url(data:image/svg+xml;base64);

$data-thumb-up-blue-svg: url(data:image/svg+xml;base64);

$data-upload-blue-svg: url(data:image/svg+xml;base64);

$data-upload-white-svg: url(data:image/svg+xml;base64);

$data-user-management-blue-svg: url(data:image/svg+xml;base64);

$data-video-blue-svg: url(data:image/svg+xml;base64);

$data-video-white-svg: url(data:image/svg+xml;base64);

$data-xls-blue-svg: url(data:image/svg+xml;base64);

$data-xls-white-svg: url(data:image/svg+xml;base64);
