@import '../../variables/sizes';
@import '../../variables/spacings';
@import '../../variables/fonts';
@import '../../variables/colors';

#breadcrumbs {
  ol {
    padding: 0;
    margin: 0;

    &.breadcrumb {
      display: none;
    }

    @media (min-width: 992px) {
      &.breadcrumb {
        display: flex;
        background-color: $white;
        border-radius: 0;

        li {
          font-size: $copyText-fontSize;
          font-family: $sansSerif;

          &.breadcrumb-item {
            a {
              font-size: $copyText-fontSize;
            }
          }
        }
      }
    }
  }
}
