.link-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;

  .courses {
    &::before {
      content: url('../img/kth-style/icons/clock_grey_25.svg');
      cursor: pointer;
      position: absolute;
      opacity: 1;
      left: 0;
    }
  }
}
